# ClickHouse Configuration
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=cnpj

# Data Directory (padrão: v2/data)
DATA_DIR=../data

# Downloads Directory (padrão: v2/downloads)
DOWNLOADS_DIR=../downloads




